.Button {
    background: #e9e9ef;
    border: none;
    border-radius: .25rem;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.Button.transparent.secondary {
    color: var(--color-secondary);
}
.Button.transparent.secondary:hover {
    color: var(--color-secondary-hover)
}
.Button .icon {
    height: 20px;
    vertical-align: top;
}

.Button .icon+span {
    margin-left: 6px;
}

.Button.transparent {
    background-color: transparent;
}

.Button.transparent:hover {
    color: var(--color-primary);
}

.Button.transparent:hover svg {
    fill: var(--color-primary)
}