.slick-slide{
    padding:0px 15px;
}

.slick-prev::before, .slick-next::before{
    content:'';
}

.slick-prev, .slick-next{
    width:auto;
    height:auto;
    z-index:9;
}
.slick-prev{
    left: -22px;
}

.slick-next{
    right: -22px;
}

.slick-prev svg, .slick-next svg{
    height:35px;
    fill:var(--color-secondary)
}

.slick-arrow:not(.slick-disabled):hover svg{
    fill:var(--color-secondary-hover)
}

.slick-disabled svg{
    fill: gray;
    cursor:not-allowed;
}